/* Layout basics */
* {
  font-family:
    "MS Gothic", "ＭＳ ゴシック",
    "Osaka-Mono",
    "Courier New",
    monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Page wrapper: fixed width 800px, centered */
.wrapper {
  width: 800px;
  border: 1px solid #C9C9C9;
  margin: 0 auto;
  line-height: 1.8;
  list-style: none;
}

.site-title {
  font-size: 1.00rem;
}

/* Header: fixed height 150px */
header {
  height: 50px;
  padding-left: 20px;
  background-color: #FCFCFC;
  border-bottom: 1px solid #C9C9C9;
  display: flex;
  align-items: center; 
  list-style: none;
}

.top-ctgr-nav{
    background-color: #FCFCFC;
    border-bottom: 1px solid #C9C9C9;
}

.main-nav{
    display: flex;
    font-size: 0.75rem;
    text-transform: uppercase;
    list-style: none;
}

.main-nav li{
    flex:1;
    text-align: center;
    border-right: 1px solid #C9C9C9;
}

.main-nav li:last-child{
    border-right:none;
}

.main-mav li a{
    display: inline-block;
    padding; 5px 20px;
    text-decoration: none;
}

/* Make the site title visually simple and readable */
header h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

/* Content area: main + sidebar (sidebar on the right) */
.content-area {
  display: flex;
  align-items: flex-start;
  gap: 0;

}

.article-list{
    text-decoration: underline; 
    list-style: none;
}

.side-nav{
    list-style: none;
}


/* Main content: approx 650px */
main {
  width: 650px;
  padding: 5px 20px;
  background-color: #FFFFF0;
  border-right: 1px solid #C9C9C9;
}

/* Sidebar: right side, approx 250px */
.sidebar {
  width: 150px;
  padding: 5px 20px;
  background-color: #FFFFF0;
  border-bottom: 1px solid #C9C9C9;
}

/* Footer spacing */
footer {
  padding-left: 20px;
  border-top: 1px solid #C9C9C9;
  font-size: 0.9rem;
}

/* Basic typographic elements (no colors specified) */
a {
  text-decoration: none;
}

ul {
}

h1 {
  font-size: 1.25rem;
}

pre {
  overflow-x: auto;
}

img {
  max-width: 500px;
  width; 100%;
  height: auto;
  display: block;
  border: 1px solid #C9C9C9;
  margin: 5px auto;
}
